<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo_title?$seo_title:$name} - ThinkerCMS</title>
<meta name="keywords" content="{$seo_keywords}" />
<meta name="description" content="{$seo_description}" />
<meta name="MSSmartTagsPreventParsing" content="True" />
<meta http-equiv="MSThemeCompatible" content="Yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="/Public/modules/home/css/style_2_common.css?Jvw" />
<link rel="stylesheet" type="text/css" href="/Public/modules/home/css/style_2_portal_list.css?Jvw" />
<script src="/Public/modules/home/js/common.js?Jvw" type="text/javascript"></script>
<script src="/Public/modules/home/js/jquery-1.7.2.js" type="text/javascript"></script>
<script src="/Public/modules/home/js/pace.js" type="text/javascript"></script>
<link href="/Public/modules/home/css/style.css" rel="stylesheet" type="text/css" /></head>
</head>

<body>
<include file="Public/head" />
<div class="wk_head_banner">
  <div class="wk_portalhead_bn14">
    <div class="wk_portalhead_bg">
      <h1><a>{$name}</a></h1>
      <div class="clear"></div>
      <p>累积点滴改进，迈向完美品质</p>
      <div class="clear"></div>
      <ul>
        <li><a href="{:UN('lists',array('catid'=>$parentid))}" title="{$name}">全部</a></li>
        <PHP>$cats=$d_category->getChildren($parentid);</PHP>
        <volist name="cats" id="vo">
        <li><a href="{:UN('lists',array('catid'=>$vo['id']))}" title="{$vo.name}" <if condition="$vo['id'] eq $catid">class="a"</if>>{$vo.name}</a></li>
        </volist>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wk_ymbg">
  <div id="wp" class="wp"> 
     <script src="/Public/modules/home/js/jquery.hover.js" type="text/javascript"></script> 
    <script type="text/javascript">
jQuery(document).ready(function(){jQuery(function() {jQuery('#photo .list').hoverdir();});});
</script>
    <div class="wp"> 
      <!--[diy=diy1]-->
      <div id="diy1" class="area"></div>
      <!--[/diy]--> 
    </div>
    <div id="ct" class="ct2 wp cl">
      <div class="wk_c_right_name">
        <div class="wk_c_right_name_l">
          <div class="bm_h cl"> <a href="javascript:void(0)" class="y xi2 rss" target="_blank" title="RSS">订阅</a> </div>
        </div>
        <div class="wk_c_right_name_r">
          <ul>
            <li> <img src="/Public/modules/home/images/right_wz.png" alt="" /> </li>
            <li> <span>您现在的位置：</span> <span><a href="{:C('site_host')}/">首页</a></span> <span>→</span> <span><a href="{:UN('lists?catid='.$parentid)}">{$pname}</a></span><span>→</span> <span>{$name}</span> </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <!--[diy=listcontenttop]-->
      <div id="listcontenttop" class="area"></div>
      <!--[/diy]-->
      <div class="xld">
      	<PHP>$val=$d_content->getContentList(array('modelid'=>$modelid,'catid'=>$catid,'num'=>8,'ispage'=>1));</PHP>
        <volist name="val.list" id="vo">
        <dl class="wk_rele cl">
          <dd class="wk_asl_01"> <em class="wk_tw01"><em class="wk_tw02"><a href="{:UN('detail',array('catid'=>$vo['catid'],'id'=>$vo['id']))}" title="{$vo.title}" target="_blank" style="background-image:url({:thumb_url($vo['thumb'],400,400)})">{$vo.title}</a></em></em> </dd>
          <dt><a href="{:UN('detail',array('catid'=>$vo['catid'],'id'=>$vo['id']))}" title="{$vo.title}" target="_blank" class="xi2" style="">{$vo.title}</a> </dt>
          <dd>{$vo.description} ...</dd>
          <dd class="xg1"> <span  class="wk_xg1">时间: {:date('Y-m-d H:i',$vo['inputtime'])}</span> </dd>
          <div class="clear"></div>
        </dl>
        </volist>
      </div>
      <div class="clear"></div>
      <div class="pgs cl">
        <div class="pg">{$val.page}</div>
      </div>
      <!--[diy=diycontentbottom]-->
      <div id="diycontentbottom" class="area"></div>
      <!--[/diy]-->
      <div class="clear"></div>
    </div>
  </div>
  <div class="wp mtn"> 
    <!--[diy=diy3]-->
    <div id="diy3" class="area"></div>
    <!--[/diy]--> 
  </div>
</div>
<script type="text/javascript">
_attachEvent(window, 'load', getForbiddenFormula, document);
function getForbiddenFormula() {
var toGetForbiddenFormulaFIds = function () {
ajaxget('plugin.php?id=cloudsearch&formhash=1e0fac23');
};
var a = document.body.getElementsByTagName('a');
for(var i = 0;i < a.length;i++){
if(a[i].getAttribute('sc')) {
a[i].setAttribute('mid', hash(a[i].href));
a[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
}
}
var btn = document.body.getElementsByTagName('button');
for(var i = 0;i < btn.length;i++){
if(btn[i].getAttribute('sc')) {
btn[i].setAttribute('mid', hash(btn[i].id));
btn[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
}
}
}
</script>
<include file="Public/footer" /> <include file="Public/main-im" />
</html>
