<div class="scrTop"><span></span></div>
<div class="shareCon"><span></span></div>
<div class="baidushare">
      <div class="share-inner">
    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
            </div>
    </div>
<!-- footer -->

<footer>
      <ul>
    <li><a href="/Mobile/"><!--<em></em>-->首页</a></li>
    <li><a href="/Mobile/Index/lists/catid/21.html"><!--<em></em>-->帮助中心</a></li>
    <li class="last"><a href="/Mobile/Index/lists/catid/15.html"><!--<em></em>-->常见问题</a></li>
  </ul>
    </footer>
<script>
/*    $(function(){
        $("#yptel").click(function(j){j.stopPropagation();location.href="tel:"+'{$siteinfo.phone}'});
    });*/
</script>
<section class="nav">
      <header>
    <div class="logo"><a href="/"><img src="/Public/modules/mobile/images/logo.png" alt=""></a></div>
    <div class="close"><a href="javascript:;"></a></div>
  </header>
      <nav>
    <ul>
          <li><a href="/Mobile/">首页</a></li>
          <li class='page42'><a href="/Mobile/Index/lists/catid/21.html">帮助中心</a></li>
          <li class='page43'><a href="/Mobile/Index/lists/catid/15.html">常见问题</a></li>
        </ul>
  </nav>
</section>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?2f11040b51649a178c3fc835fd60c6f1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>